{% extends 'base.html' %} 

{% block title %}About Us{% endblock title %} 
{% block aboutactive %} active {% endblock aboutactive %}
{%block body %}
<div class="container text-center">
    <img src="static/img/about.jpg" class="my-4" height="300" alt="about.jpg">
    <p>We here at agritech provide solution for the chaff management to farmers. As we know Reducing of the carbon emission directly affects the global Temperaure reduce in global warming.
        <br>
        We believe we will Achieve the goal of reduction of the carbon footprint caused by the chaff burning and affecting lives globally. 
        <br>
        Helping in pollution free air and happy environment for all.
        <br>
        </p>
</div>
{% endblock body %}
