{% extends 'base.html' %} 

{% block title %}About Us{% endblock title %} 
{% block aboutactive %} active {% endblock aboutactive %}
{%block body %}
<div class="px-4 py-5 text-center">
    <img src="static/img/about.jpg" class="img-fluid" width="500" alt="about.jpg" loading="lazy">
    <h1 class="display-5 fw-bold">About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Agritech is agro based startup. We here at Agritech provide solution for the Stubble Management to farmers. We will provide financial help to the farmers. Introducing them with new farming methods and technologies used by farmer’s worldwide to transform the farming methods and new ways to earn money than traditional farming.</p>
      <p class="lead mb-4">We believe we will achieve the goal of reduction of the carbon footprint caused by the stubble burning and affect lives of global population positively. We will collect stubble as farmers will request us to do so else farmers will burn it .We will stop it and this will reduce the carbon emission directly caused by the stubble burning which will affect the global temperature and reduce global warming. Help in creating pollution free environment for all people.</p>
      <p class="lead mb-4">We also provide steady supply of the stubble, Briquettes and vermi-compost via our subsidiaries and to the various industries that need stubble as raw material. Always ensuring good quality material is supplied to the client so a bond of trust can be build.</p>
    </div>
</div>
{% endblock body %}
