{% extends 'base.html' %} 

{% block title %}Govt. Steps{% endblock title %} 
{% block govtactive %} active {% endblock govtactive %}
{%block body %}
<div class="container mt-5 text-center" id="custom-cards">
  <h2 class="pb-2 border-bottom mt-5 text-center">Solutions implemented by Government</h2>
  <img src="static/img/solution1.png" class="img-fluid my-5" alt="solution1" loading="lazy">
  <img src="static/img/solution2.png" class="img-fluid my-5" alt="solution2" loading="lazy">
  <img src="static/img/solution3.png" class="img-fluid my-5" alt="solution3" loading="lazy">
</div>
{% endblock body %}
