{% extends 'base.html' %} 

{% block title %}Home{% endblock title %} 
{% block homeactive %} active {% endblock homeactive %}
{%block body %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/home1.jpg" class="d-block w-100" height='500' alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to AgriTech</h1>
          <p>Only solution you need for the chaff management.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/img/home2.jpg" class="d-block w-100" height='500' alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to AgriTech</h1>
          <p>Only solution you need for the chaff management.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/img/home3.jpg" class="d-block w-100" height='500' alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to AgriTech</h1>
          <p>Only solution you need for the chaff management.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container col-xxl-8 px-3 py-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/img/Stubble-burning.jpg" class="d-block mx-lg-auto img-fluid" alt="Stubble-burning.jpg" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Stubble Burning</h1>
      <p class="lead">Stubble burning is a practice of removing paddy crop residues from the field for sowing next cropAbout 25 % of nitrogen (N) and phosphorus (P), 50 % of sulfur (S) and 75 % of potassium (K) uptake by cereal crops are retained in crop residues. Further, it is estimated that burning of paddy straw results in nutrient losses viz., 59,000 t of nitrogen, 20,000 t of phosphorus, 34,000 t of potassium and 3.85 million tonnes of organic carbon. So, it is clear now that crop residue is not a waste but rather a useful natural resource, Therefore it is necessary to get rid of stubble.</p>
    </div>
</div>

<div class="container mt-5 text-center" id="custom-cards">
  <h2 class="pb-2 border-bottom text-center">Articles on negative effects on Environment</h2>
  <img src="static/img/article1.png" class="img-fluid my-5" alt="article1" loading="lazy">
  <img src="static/img/article2.png" class="img-fluid my-5" alt="article2" loading="lazy">
  <img src="static/img/article3.png" class="img-fluid my-5" alt="article3" loading="lazy">
  <img src="static/img/article4.png" class="img-fluid my-5" alt="article4" loading="lazy">
  <img src="static/img/article5.png" class="img-fluid my-5" alt="article5" loading="lazy">
  <img src="static/img/article6.png" class="img-fluid my-5" alt="article6" loading="lazy">
  <img src="static/img/article7.png" class="img-fluid my-5" alt="article7" loading="lazy">
  <h2 class="pb-2 border-bottom text-center">Air Quality Index Data</h2>
  <img src="static/img/aqi1.png" class="img-fluid my-3" alt="aqi1.png" loading="lazy">
  <img src="static/img/aqi2.png" class="img-fluid my-3" alt="aqi2.png" loading="lazy">
  <img src="static/img/aqi3.png" class="img-fluid my-3" alt="aqi3.png" loading="lazy">
</div>
</div>

</div>

{% endblock body %}
