{% extends 'base.html' %} 

{% block title %}Home{% endblock title %} 
{% block homeactive %} active {% endblock homeactive %}
{%block body %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/home1.jpg" class="d-block w-100" height='300' alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to AgriTech</h1>
          <p>Only solution you need for the chaff management.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/img/home2.jpg" class="d-block w-100" height='300' alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to AgriTech</h1>
          <p>Only solution you need for the chaff management.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/img/home3.jpg" class="d-block w-100" height='300' alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to AgriTech</h1>
          <p>Only solution you need for the chaff management.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container text-center my-4">
    <h5>Stubble burning is a practice of removing paddy crop residues from the field for sowing next cropAbout 25 % of nitrogen (N) and phosphorus (P), 50 % of sulfur (S) and 75 % of potassium (K) uptake by cereal crops are retained in crop residues. Further, it is estimated that burning of paddy straw results in nutrient losses viz., 59,000 t of nitrogen, 20,000 t of phosphorus, 34,000 t of potassium and 3.85 million tonnes of organic carbon. So, it is clear now that crop residue is not a waste but rather a useful natural resource, Therefore it is necessary to get rid of stubble.</h5>
</div>
<div class="container my-4">
    <div class="row text-dark d-flex justify-content-center align-items-center">
        <div class="col-sm-4">
          <div class="card">
            <img src="static/img/hydroponic.jpg" alt="hydroponic.jpg">
            <div class="card-body">
              <h5 class="card-title"><a href="https://en.wikipedia.org/wiki/Hydroponics">Hydroponics</a></h5>
              <p class="card-text">Hydroponics is a type of horticulture and a subset of hydroculture which involves growing plants, usually crops, without soil, by using mineral nutrient solutions in an aqueous solvent.</p>
              <a href="https://www.youtube.com/watch?v=8fWSfEBGobI" class="btn btn-primary">Go to Youtube</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <img src="static/img/Aquaponics.jpg" alt="Aquaponics.jpg">
              <div class="card-body">
                <h5 class="card-title"><a href="https://en.wikipedia.org/wiki/Aquaponics">Aquaponics</a></h5>
                <p class="card-text">Aquaponics is a food production system that couples aquaculture with hydroponics whereby the nutrient-rich aquaculture water is fed to hydroponically-grown plants, where nitrifying bacteria convert ammonia into nitrates.</p>
                <a href="https://www.youtube.com/watch?v=018rIAPkTH4" class="btn btn-primary">Go to Youtube</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img src="static/img/Fungiculture.jpg" alt="Fungiculture.jpg">
              <div class="card-body">
                <h5 class="card-title"><a href="https://en.wikipedia.org/wiki/Fungiculture">Fungiculture</a></h5>
                <p class="card-text">Fungiculture is the cultivation of mushrooms and other fungi. Cultivating fungi can yield food, medicine, construction materials and other products. A mushroom farm is in the business of growing fungi.</p>
                <a href="https://www.youtube.com/watch?v=oiVZ2APGSNQ" class="btn btn-primary">Go to Youtube</a>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock body %}
